<section>
	<h2>Run test</h2>
	<section>
		<h3>Project</h3>
		<select onchange={{action 'selectProject' value="target.value"}}>
			{{#each model.projects as |project|}}
				<option value={{project}} selected={{if (eq project model.selectedProject) 'selected' }}>{{project}}</option>
			{{/each}}
		</select>
	</section>
	<br>
	<section>
		<h3>Suite</h3>
		<select multiple="multiple" onchange={{action 'selectSuite' value="target"}}>
			{{#each model.suites as |suite|}}
				<option value={{suite}} selected={{if (contains suite model.selectedSuites) 'selected'}}>{{suite}}</option>
			{{/each}}
		</select>
	</section>
	<section>
		<h3>Test</h3>
		<select multiple="multiple" onchange={{action 'selectTest' value="target"}}>
			{{#each model.tests as |test|}}
				<option value={{test}} selected={{if (contains test model.selectedTests) 'selected'}}>{{test}}</option>
			{{/each}}
		</select>
	</section>
	<h4>Project</h4>
	{{model.selectedProject}}
	<h4>Suites</h4>
	{{model.selectedSuites}}
	<h4>Tests</h4>
	{{model.selectedTests}}
	<br>

	<button {{action 'run'}}>Run</button>

</section>
