<main class="route runner">
	<article>
		<section>
			<h2>{{model.test.project}} <i class="fa fa-arrow-right"></i> {{model.test.suiteName}} <i class="fa fa-arrow-right"></i> {{model.test.name}} ({{model.step}} from {{model.tests.length}})</h2>
			<nav>
				<button {{action 'ok' model.test}}>OK</button>
				<button  {{action 'fail' model.test}}>Test failed</button>
				<button {{action 'unable' model.test}}>Unable to test</button>
			</nav>
		</section>
</article>
<article>
	<section>
		<h3>Steps</h3>
		{{markdown-to-html markdown=model.test.steps}}
	</section>
	<section>
		<h3>Prerequisities</h3>
		{{markdown-to-html markdown=model.test.prerequisities}}
	</section>
</article>
</main>
