<h1>Test Pool</h1>

<main>
	<section>
		<label>
		{{input type="checkbox" checked=model.showDetails}} Show detail
		</label>

		<table>
		  <tr>
		    <th>Project</th>
		    <th>Suite</th>
		    <th>Name</th>
		    <th>Created</th>
			<th></th>
		  </tr>

			{{#each model.tests as |test|}}
				{{#unless test.isNew}}
					<tbody {{action 'select' test}}>
						<tr>
					    	<td>{{test.project}}</td>
					    	<td>{{test.suiteName}}</td>
					    	<td>{{test.name}}</td>
							<td>{{moment-from-now test.createdDate}}</td>
					    	<td><span {{action 'delete' test  bubbles=false}}>{{material-design-icon name='delete'}}</span></td>
					  	</tr>
						{{#if model.showDetails}}
							<tr>
								<td colspan="2">{{markdown-to-html markdown=test.prerequisities}}</td>
								<td colspan="3">{{markdown-to-html markdown=test.steps}}</td>
							</tr>
						{{/if}}
					</tbody>
			  	{{/unless}}
			{{/each}}
		</table>
	</section>
	<section>
		{{outlet}}
	</section>
</main>
